*{
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;

}

body{
  
   background-color: black;
   color: white;
   font-size: 16px;

   font-family: 'Roboto', sans-serif;

   
  background-color: #c13f3f ;
  
   background-image: url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M84 23c-4.417 0-8-3.584-8-7.998V8h-7.002C64.58 8 61 4.42 61 0H23c0 4.417-3.584 8-7.998 8H8v7.002C8 19.42 4.42 23 0 23v38c4.417 0 8 3.584 8 7.998V76h7.002C19.42 76 23 79.58 23 84h38c0-4.417 3.584-8 7.998-8H76v-7.002C76 64.58 79.58 61 84 61V23zM59.05 83H43V66.95c5.054-.5 9-4.764 9-9.948V52h5.002c5.18 0 9.446-3.947 9.95-9H83v16.05c-5.054.5-9 4.764-9 9.948V74h-5.002c-5.18 0-9.446 3.947-9.95 9zm-34.1 0H41V66.95c-5.053-.502-9-4.768-9-9.948V52h-5.002c-5.184 0-9.447-3.946-9.95-9H1v16.05c5.053.502 9 4.768 9 9.948V74h5.002c5.184 0 9.447 3.946 9.95 9zm0-82H41v16.05c-5.054.5-9 4.764-9 9.948V32h-5.002c-5.18 0-9.446 3.947-9.95 9H1V24.95c5.054-.5 9-4.764 9-9.948V10h5.002c5.18 0 9.446-3.947 9.95-9zm34.1 0H43v16.05c5.053.502 9 4.768 9 9.948V32h5.002c5.184 0 9.447 3.946 9.95 9H83V24.95c-5.053-.502-9-4.768-9-9.948V10h-5.002c-5.184 0-9.447-3.946-9.95-9zM50 50v7.002C50 61.42 46.42 65 42 65c-4.417 0-8-3.584-8-7.998V50h-7.002C22.58 50 19 46.42 19 42c0-4.417 3.584-8 7.998-8H34v-7.002C34 22.58 37.58 19 42 19c4.417 0 8 3.584 8 7.998V34h7.002C61.42 34 65 37.58 65 42c0 4.417-3.584 8-7.998 8H50z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  
  
}
/*contenedor principal */

.contenedor-principal{
   width: 90%;
   border: 1px solid black;
   margin: auto;
   height: 1300px;
   
  
}
.contenedor-principal:nth-child(5){
   background-color: #c13f3f;

  
}


/*organixzacion del menu y el logo */






/* organizacion de la parte izquierda */

.contenedor-izquierda{
   width: 60%;
   height: 1200px;
   border: 1px solid;
   float: left;
   border: 1px solid black;
  
}


.contenedor-menu{
   width: 100%;
   height: 90px;
   border: 1px solid black;
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 0px;
   margin-bottom: 0px;
  
   
   
}

.nav-menu{

   width: 100%;
   font-size: 16;
   color: black;
   align-items: center;
   display:flex;
   justify-content: space-between;
   padding: 20px 0px;
   text-decoration: none;
   list-style: none;
   font-weight: bold;
   

}

.nav-menu:nth-child(2){
   background-color:aqua;

}
.opciones{
   display: inline-flex;
   list-style: none;
   text-decoration: none;
 
}

.opciones  li{

   background-color:#080808 ;

   
}

.opciones a{
   margin-left: 35px;
   color: aqua;

}

.opciones a:hover{

   border-bottom: 2px;
  

}


.img-logo{
   width: 70px;
   background-color: black;

}

.contenedor-noticias{

   width: 100%;
   height: 555px;
   border: 1px solid black; 
   margin-bottom: 0px;
   display: inline-flex;
   margin-top: 0px;
   justify-content: center;
  
}
.contenedor-noticias-dia{

   width: 100%;
   height: 500px;

   margin-top: 50px;

   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 20px;
   
   margin-right: 5px;
   

}




/* organizacion parte derecha */

.contenedor-derecha{

   width: 40%;
   height: 1300px;
   border: 1px solid ;
   float: right;
   border: 1px solid black;

}

.cajas{
   width: 100%;
   height: 433px;
   border: 1px solid;
 

}

.cajas-de-sola{
   width: 100%;
   height: 433px;
   border: 1px solid;
 

}

/*organizacion de la parte final o footer  */

.final{
   width: 60%;
   height: 100px;
   border: 1px solid black;
  
   display: flex;
   margin-bottom: 0px;
   margin-left: 0px;
}

.division1{

   width: 50%;
   height: 600px;
   border: 1px solid black;
   background-color: #c13f3f;
 
}




.division2{

   width: 50%;
   height: 600px;
   border: 1px solid black;
   background-color: #c13f3f;
   
   
}

.division2 h2{
   text-align: center;

}
.division2 p{
   text-align: center;
}


/*organizacion de division 1 */


.division1 h2{

   font-size: 20px;
   text-align: center;
   justify-content:center ;
   padding: 10px 0px;

}

.division p{

   font-size: 20px;
   text-align: center;
   justify-content: right ;
   padding: 10px 00px;
   margin-top: 20px;
   margin-left: 10px;
 

}
.img-java{
   opacity: inherit ;
   width: 100%;
   height:100%;
    border: 1px solid black;
    stop-opacity: inherit; 
    border-radius: 20px 20px 20px 20px;
   

    
}
.contenedor-imagen{
   
   border: 1px solid;
   margin: auto;
   width: 80%;
   height: 270px;
   border-radius: 20px 20px 20px 20px;
   background-color:rgba(255,255,255,0.5);
   margin-top: 25px;
   margin-bottom: 15px;


}

.contenedor-sola{

  
   width: 100%;
   height: 100%;
   border: 1px solid black;
   
   background: url(./imagenes/unica.jpg) no-repeat center center/cover;

}

.img-noticias{
    
   width: 150px;
  
   margin-left: 50px;


}


.img-noticias:hover {
-webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;}



.contenedor-noticias-dia div{

   border: 1px solid black;


}

.imagen-caja1{

   width: 250px;
   height: 250px;
   margin: auto;
   border-radius: 50%  ;
   border: 4px solid black;
   margin-bottom: 0px;
   margin-top:10px;

}

.imagen-caja1:hover{
filter: sepia(60%);}





.caja1-contenedor{
   display: flex;
   flex-direction: column;

   width: 100%;
   height: 433px;
   justify-content: center;
   
}

.titulos{

   text-align: center;
   margin-top: 0px;
   background-color: black;
   height: 35px;
   border:1px solid white ;
   font-size: 22PX;

}

.cajas-3{
   width: 100%;
   height: 433px;
   border: 1px solid;

   

}

.columnas-1{
 border: 1px solid;
 height: 398px;
 

}
.columnas-2{
   border: 1px solid;
   height: 398px;
   background: url(imagenes/programador1.png ) no-repeat center ;

  }






.contenedor-columnas-3{

   display: grid;
   grid-template-columns: repeat(2,1fr);
   width: 100%;
   height: auto;


}

.redes {
   display:inline-flex;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin-left: 30px;
   margin-top: 20px;

}

.opciones li a:hover{
   list-style: none;
   text-decoration: underline;
   border-bottom: 2px;


}

.parrafo-java{
 
   width: 90%;
   margin-left: 20px;
   margin-right: 10px;
   text-justify: distribute;
   
}

.parrafo-programador{

  
   width: 90%;
   margin-left: 20px;
   margin-top: 5px;
}

.parrafo-noticia{
 
   width: 90%;
   margin-left: 10px;

}


.leermas{

   margin-left: 20px;
}

.titulo-programador{
   text-align: center;
}



/*no pasar de esta linea   ////////////////////////////*/

@media (max-width: 375px){

  
   .body{
      width: 100%;
      margin: auto;
      background-color: aqua;
      height: 100%;
   }




   .contenedor-principal{
      width: 100%;
      height: 100%;
      position: relative;
    
   }

  

   .contenedor-noticias-dia div{

      
     width: 100%;
     height: 700px;
      margin-top: 0px ;


   }

   .contenedor-noticias-dia{

      width: 100%;
      margin-top: 0px ;
      height: 2100px;

      border: 1px solid black;
 

      grid-template-columns:none;

      display: inline-block;
      margin-top: 0px;
   }
   







   .final{
      width: 100%;
   }

   .prueba{
      width: 80%;
      background-color: black;
      height: 300px;
   }


   /*confirguracio menu */

   .contenedor-menu{
      height: 80px;
      margin-top: 0px


   }
   .opciones{
    
      font-size: 10px;
    
   }

   .nav-menu{

      overflow: hidden;
      margin: 5px;
      padding: 0px;

   }

   .opciones li a{

      color: aqua;
      font-size: 11px;
      text-decoration: none;
      margin-left: 5px;
      
      
   }
   .opciones li {
      background-color:#080808 ;
      margin-left: 0px;
  
   }

    /*confirguracion espacio java */
    .contenedor-izquierda{
      width: 100%;
     
      height: 100%;
      margin-top: 0px;
      overflow:auto;
      position: relative;
   }

 
    .contenedor-noticias{

      width: 100%;
      height: 1200px;
      position: relative;
      background-color: aliceblue;

      z-index: 1;
     
      

   }
   
    .division1{

      width: 100%;
      height: 600px;
      margin-top:0px;
     position: absolute;
      margin-left: 0px;
    
     
      
   
   }

   .contenedor-imagen{
      width: 200px;
      height: 200px;
   }
   
   .division2{

      width: 100%;
      margin-top: 500px;
      height: 700px;
      position: absolute;
      margin-left: 0px;
     

   }

   .contenedor-noticias-dia div{

      height: 490px;
      text-align: center;
   

   }

   .contenedor-noticias-dia{

      height: 1480px;
      margin-bottom: 0px;


   }
   .img-noticias{


      width: 200px;
      margin: auto;


   }
   .parrafo-noticia{

      padding: 5px 10px;
   }

   
    /*confirguracion espacio derecha */
   
    .contenedor-derecha{
      width: 100%;
      float: none;
      margin-top:0px;
      height: 1600px;
      position: absolute;
      margin-top: 2750px;
      
      }

      .cajas{

         height: 500px;

      
      }

      .titulos{

    
         height: 25px;
         border:1px solid white ;
         font-size: 15PX;
      
      }

      .division1 .titulos{

         font-size: 15px;
         padding: 0px 0px;
      }
      
      .contenedor-sola{
         width: 100%;
         height: 300px;
      }

      .cajas-de-sola{

         height: 300px;
         
   
      }

      .contenedor-columnas-3{

         display: flex;
         width: 100%;
         height: 770px;
         position: relative;
         border: 1px solid black;
      
      
      }

      .columnas-1{
         position: absolute;
         width: 100%;

      }

      .columnas-2{
         position: absolute;
         margin-top: 370px;
         width: 100%;


      }

      .final{
        
        margin-top: 4340px;
        height: 70px;
      }
   
}









